@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Lato&family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: rgb(22, 21, 21);
}

/* CSS CABEÇALHO */
.cabecalho { /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(46, 44, 47);
}

.cabecalho-imagem {
    height: 95px;
    /*box-shadow: 4px 5px 4px rgba(12, 12, 12, 0.25);*/
}

.cabecalho-menu {
    display: flex;
    gap: 35px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color:blanchedalmond;
    font-weight: 400;
    font-size: 16px;
}

/* CSS CONTEUDO - SOBRE MIM */

/* CSS CONTEUDO - REDES SOCIAIS */

/* CSS  CONTEUDO CENTRAL DA PÁGINA */
.conteudo {
    border-top: 0.5px solid wheat;
    margin-bottom: 50px;
    padding-top: 40px;
}

.conteudo-principal-imagem-portfolio {
    height: 285px;
    /*box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);*/
}

.conteudo-principal-portfolio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 
.conteudo-principal-escrito-portfolio {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-escrito-titulo-portfolio {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 75px;
    color: wheat;
}

.conteudo-principal-escrito-botao {
    background-color: wheat;
    width: 180px;
    height: 65px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgb(207, 156, 62);
}

.conteudo-principal-escrito-portfolio {
    font-family: 'Oswald', sans-serif;
    color: wheat;
}

.conteudo-secundario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

.conteudo-secundario-titulo {
    color:  wheat;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.rodape {
    padding: 25px;
    border-top: 0.5px solid wheat;
    background-color: rgb(46, 44, 47);
    /*display: flex;
    justify-content: space-around;  
    background-color: rgb(46, 44, 47); */
}

.rodape-imagem {
    height: 100px;
    display: block;
    margin: 0 auto;
}